# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [19]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [20]:
first = pd.Series(np.random.randint(1,5,100,dtype='l'))
second = pd.Series(np.random.randint(1,3,100,dtype='l'))
third = pd.Series(np.random.randint(10000,30000,100,dtype='l'))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [21]:
df = pd.concat([first,second,third],axis=1)
df.head()

   0  1      2
0  1  1  29420
1  4  1  10231
2  3  2  19649
3  2  1  15180
4  3  2  20831

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [22]:
df.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            29420
1      4       1            10231
2      3       2            19649
3      2       1            15180
4      3       2            20831

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [29]:
DataFrame = pd.concat([first,second,third])
DataFrame.tail()

95    20955
96    18861
97    28594
98    26251
99    27459
dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [24]:
len(DataFrame)
#No, not true. Index is getting repeated from 0-99 , 3 times . see the length

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [31]:
DataFrame = DataFrame.to_frame()
DataFrame.reset_index(inplace=True)
DataFrame.tail(20)

     index      0
280     80  28230
281     81  28250
282     82  15121
283     83  24917
284     84  24736
285     85  10231
286     86  24593
287     87  25058
288     88  12582
289     89  24628
290     90  19500
291     91  21154
292     92  26828
293     93  21399
294     94  18378
295     95  20955
296     96  18861
297     97  28594
298     98  26251
299     99  27459