# Ex1 - Getting and Knowing your Data : Chipotle

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. See the first 10 entries

In [4]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

chipo.shape

(4622, 5)

In [6]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
list(chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [80]:
print(chipo.groupby(['item_name']).size().idxmax())

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [83]:
chipo.groupby(['item_name']).quantity.sum().max()

761

### Step 11. What was the most ordered item in the choice_description column?

In [30]:
chipo.choice_description.value_counts().idxmax()

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [85]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [36]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Change the type of item price

In [42]:
chipo['item_price'] = chipo['item_price'].str.replace("$","").astype('float64')

#### Step 13.c. Check the item price type

In [43]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [87]:
Total_revenue=chipo.groupby(['order_id']).quantity.apply(lambda x :  x*chipo.item_price).sum()
print(f'Revenue was: ${Total_revenue}')

Revenue was: $39237.02000000002

### Step 15. How many orders were made in the period?

In [88]:
Total_order=len(chipo.order_id.unique())
print(f'Total no. of orders were: {Total_order}')

Total no. of orders were: 1834

### Step 16. What is the average revenue amount per order?

In [89]:
# Solution 1
average_revenue = Total_revenue / Total_order
print(f'Average Revenue per order was: ${average_revenue}')

Average Revenue per order was: $21.39423118865868

### Step 17. How many different items are sold?

In [70]:
len(chipo.item_name.unique())

50